.threshold-indicator {
  position: absolute;
  border: 2px solid red;
}
#volume-indicator {
  width: 100%;
  bottom: 50%;
}
.slider-hist {
  z-index: 1;
  position: absolute;
}
#sliderVolume {
  width: 0;
  left: 0;
  height: 100%;
  margin: 0;
}
